.testStlye {
    background-color: white;
    height: 1400px;
}

.fontAli {
    margin-top: 271.9px;
    margin-left: 300px;
}

.doit {
    color: #00B8FF;
    /* font는 바꿀예정 */
    font-family: sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.8px;
}

.doit_remain {
    color: #14171A;
    font-family: sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.8px;
}

.left-align {
    text-align: left;
}

.scheduleContainer {
    margin-top: 220px;
}

.scheduleContainer2 {
    margin-left: 2px;
}

.fieldsContainer {
    margin-Top: 50px;
}

.scheduleFont {
    color: #14171A;
    font-family: sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -2px;
}

.scheduleFont2 {
    color: #657786;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
}

.inlineContainer {
    display: flex;
}

.faqFont {
    color: #14171A;
    font-family: SUIT;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -2px;
    margin-left: 300px;
    margin-top: 50px;
}

.faq_kategorie_container {
    display: inline-flex;
    align-items: flex-start;
    gap: 50px;
    margin-left: 300px;
    margin-top: 50px;
}

.faq_activate_kategorie_font {
    color: #14171A;
    font-family: Pretendard;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
    cursor: pointer;

}

.faq_inactivate_kategorie_font {
    color: #8A9FB1;
    font-family: Pretendard;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.9px;
    cursor: pointer;
}

.faq_icon {
    width: 27px;
    height: 37px;
    color: #8A9FB1;
    font-family: SUIT;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-top: 99px;
    margin-left: 299px;
}

.faq_Q {
    width: 481px;
    height: 37px;
    color: #14171A;
    font-family: SUIT;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.2px;
}

.faq_A {
    width: 756px;
    color: #657786;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    /* 154.167% */
    letter-spacing: -0.48px;
}

.mustdo_font {
    color: #14171A;
    font-family: SUIT;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -2px;
}

.headText {
    width: 419px;
    height: 62px;
    color: #14171A;
    text-align: center;
    font-family: SUIT;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -2px;
}

.bodyText {
    width: 419px;
    height: 64px;
    color: #657786;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    letter-spacing: -0.5px;
}

.applyBtn {
    width: 307px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 47.5px;
    border: 3px solid #00B8FF;
    background: #00B8FF;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.6px;
    cursor: pointer;
}

@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.applyBtn:hover {
    animation: jelly 0.5s;
}

.doit_footer {
    width: 1920px;
    height: 389px;
    flex-shrink: 0;
    background: #DEE5E8;
    position: relative;
}

.footer_text {
    position: absolute;
    width: 308px;
    height: 39px;
    color: #657786;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    /* 229.412% */
    letter-spacing: -0.34px;
}

.contactUs {
    position: absolute;
    width: 195px;
    height: 39px;
    color: #8A9FB1;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    /* 229.412% */
    letter-spacing: -0.68px;
}

.email {
    position: absolute;
    width: 195px;
    height: 39px;
    color: #8A9FB1;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    /* 229.412% */
    letter-spacing: -0.68px;
}

.location_text {
    position: absolute;
    width: 79px;
    height: 39px;
    color: #8A9FB1;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    /* 229.412% */
    letter-spacing: -0.68px;
}

.location {
    position: absolute;
    width: 420px;
    height: 39px;
    color: #8A9FB1;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    /* 229.412% */
    letter-spacing: -0.68px;

}